# -----------------------------------------------------------------------------
# Operating System
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------------------------------------------
# IDE
# -----------------------------------------------------------------------------
.vscode/
.idea/

# -----------------------------------------------------------------------------
# Terraform
# -----------------------------------------------------------------------------
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# -----------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/
env/

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------
*.log

# -----------------------------------------------------------------------------
# Environment Variables
# -----------------------------------------------------------------------------
.env
.env.*

# -----------------------------------------------------------------------------
# Archives
# -----------------------------------------------------------------------------
*.zip
*.tar
*.gz

# -----------------------------------------------------------------------------
# Temporary Files
# -----------------------------------------------------------------------------
tmp/
temp/
